<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User </title>
    
    <!-- Link to External CSS -->
    <link rel="stylesheet" href="/views/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <p class="content">Select an option:</p>
        
        <ul>
            <li><a href="/views/user.html"> Users</a></li>
            <li><a href="/views/roles.html"> Roles</a></li>
            <li><a href="/views/permissions.html"> Permissions</a></li>
            <li><a href="/views/features.html"> Features</a></li>
        </ul>
    </div>
</body>
</html>


