
<h1>User</h1>

<!-- User Form -->
<form action="/user" method="POST">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="email" name="email" placeholder="Enter Email" required>
    <select name="role">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
    <button type="submit">Add User</button>
</form>

<!-- User List -->
<h2>Users</h2>
<div>
    
            <div class="contact-card">
                <p><strong>Name:</strong> </p>
                <p><strong>Email:</strong> </p>
                <p><strong>Role:</strong> </p>
            </div>
    
</div>

